body{
  font-size: 20px;
  font-family: Poppins;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-image:url(image/replicate-prediction-s66cijrb7u74r3dqf2k5ud4dju.png);
}



h3{
  color: rgb(0, 0, 0);
}
.back{
  margin-left: 10%;
}
form,.container{
  width: 40%;
  float: left;
}
input{
  display: table;
  padding: 5px;
  width: 250px;
  margin-bottom: 1em;
  border: 2px solid rgb(255, 255, 255);
}
span{
  font-size: 12px;
  padding: 5px;
  vertical-align: top;
  color: rgb(0, 0, 0);
}
button{
  padding: 7px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  transition: all 0.2s;
  margin-top: 400PX;
  font-family: Poppins;
}
button:hover{
  color: white;
  background-color: rgb(232, 51, 51);
  padding-left: 15px;
  padding-right: 15px;
}
#Studentimg{
  background-color: white;
}
label{
  color:black;
}
#inplace,#inbatch{
  padding: 6px;
  width: 262px;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  outline: none;
  transition: 0.2s;
};
#inplace:hover,#inbatch:hover{
  border-bottom: 1px solid rgba(239, 13, 13, 0.847);
}
input{
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  font-size: 14px;
  transition: 0.2s;
}
input:focus,
input:active,
input:hover{
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(239, 13, 13, 0.789);
}
#form-back{
  margin-right: 210px;
  margin-top: 10px;
  padding-left: 40px;
  padding-top: 1px;
  padding-bottom: 3px;
  border-radius: 10px;
  background-color: rgba(225, 225, 225, 0.853);
}

